<%= div_for comment do %>
<% user = User.find(comment.user_id) %>

  <div class="well">
    <div class="comment_title">
      <% if current_user.admin? %>
        <%= link_to (fa_icon "times-circle") , '#', class: "fa-2x"  %>
      <% end %>
      <strong> Posted <%= time_ago_in_words(comment.created_at) %> ago</strong> by  <%= link_to user.username, user %>

      <% if current_user && user_match?(user) %>
        <%= link_to (fa_icon "pencil-square"), '#', class: "edit-icon fa-lg"  %>
        <%= link_to (fa_icon "times-circle") , '#', class: "delete-icon fa-lg"  %>
      <% end %>
    </div>

    <br>
    <div class="comment_body">
      <%= comment.body.html_safe %>
    </div>
  </div>

<% end %>