<%= div_for comment do %>
<% user = User.find(comment.user_id) %>

<div class="row-fluid">
  <div class="well">
    <strong> Posted <%= time_ago_in_words(comment.created_at) %> ago</strong> by  <%= link_to user.username, user %>

    <% if signed_in_user?(user) %>
      <%= link_to (fa_icon "pencil-square"), '#', class: "edit-icon fa-lg"  %>
      <%= link_to (fa_icon "times-circle") , '#', class: "delete-icon fa-lg"  %>
    <% end %>
    <br>
    <%= comment.body.html_safe %>
  </div>
</div>

<% end %>