<% provide(:title, "Edit") %>

<% content_for :sidebar do %>
  <%= render 'users/sides/edit_sidebar' %>
<% end %>

<div class="edit_content" id="password_content">
  <h3>Change profile</h3>
  <div class="span9 well">
    <%= render partial: 'form', locals: { button_text: "Update profile"} %>
  </div>
</div>

<div class="edit_content hideme" id="goal_content">
  <h3>Goals</h3>
  <div id="goals"></div>
  <%= link_to "Add Goal", [@user, Goal.new] , :remote => true, class: "btn", id: "add_goal_button" %>
  <hr>
  <%= render partial: @user.goals, locals:{ make_edits: true } %>
</div>

<div class="edit_content hideme" id="notification_content">
  <h3>Notifications</h3>
  <%= render partial: 'notifications' %>
</div>
