<%= form_for(@post) do |f| %>
  <%= render :partial => 'shared/error_messages', :locals => {:subject => @post} %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <div class="form-actions">
  <%= f.submit button_text, class: "btn btn-large btn-primary" %>
  </div>
<% end %>
