<% provide(:title, "Posts") %>
 <h1>All posts
 <a href="/posts.atom"><i class="icon-rss"></i></a>
 </h1>
<div class="row-fluid">
  <div class="span10 offset1">
    <%= will_paginate @posts, class: "pages pagination" %>

    <% @posts.each do |post| %>
      <h3>
        <%= link_to post.title, post %>
      </h3>
        Posted: <%= post.created_at.strftime("%d-%b-%y") %>
      <div class="well no-overflow lines-1">
        <%= post.content.html_safe %>
      </div>
        <%= link_to 'read more', post, class: "pull-right" %>
    <% end %>
    <%= will_paginate @posts, class: "pages pagination" %>
   </div>
</div>

 <%= link_to 'New Post', new_post_path %>