<% provide(:title, @post.title) %>

<% content_for :sidebar do %>
  <%= render 'posts/sides/show_sidebar' %>
<% end %>

<%= render :partial => @post %>

<div class="row-fluid">
  <div class="span10 well offset1">
    <h2>Comments

      <% if current_user.admin? %>
        <%= link_to (fa_icon "times-circle") , '#', class: "delete-icon", title: "Delete all comments", rel: 'tooltip', confirm: "Delete all comments?" %>
      <% end %>
    </h2>
    <div id="comments">
      <%= render :partial => @post.comments %>
    </div>
    <%= form_for [@post, Comment.new], :remote => true do |f| %>
    <p>
      <%= f.label :body, "New comment" %><br/>
      <%= f.text_area :body %>
    </p>
    <p><%= f.submit "Add comment" %></p>
    <% end %>
  </div>
</div>