<% provide(:title, @post.title) %>

<% if current_user && current_user.admin? %>
  <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-mini" %>  <%= link_to 'Delete', '#', class: "btn btn-mini btn-danger" %>
<% end %>
  <%= link_to 'Back', posts_path, class: "btn btn-mini" %>

<%= render :partial => @post %>

<div class="row-fluid">
  <div class="span10 well offset1">
    <h2>Comments</h2>
    <div id="comments">
      <%= render :partial => @post.comments %>
    </div>
    <%= form_for [@post, Comment.new], :remote => true do |f| %>
    <p>
      <%= f.label :body, "New comment" %><br/>
      <%= f.text_area :body %>
    </p>
    <p><%= f.submit "Add comment" %></p>
    <% end %>
  </div>
</div>