<%= form_for @goal, url: {action: "update", controller: "goals"} do |f| %>

  <%= f.label :description, "Description" %><br/>
  <%= f.text_area :description %>

  <%= f.label :motivation, "Motivation" %><br/>
  <%= f.text_area :motivation %>

  <div class="form-actions">
    <%= f.submit "Change goal", class: "btn btn-large btn-primary" %>
    <%= link_to 'Cancel', edit_user_path, class: "btn btn-large" %>
  </div>

<% end %>