<div id="goals">
  <%= div_for goal do %>
    <h3><%= goal.description %></h3>
    <p>
      <%= goal.motivation %>
    </p>
    <% if make_edits  %>
      <div class="pull-right">
        <%= link_to "Edit", '#', {class: 'edits btn btn-mini', id: "#{goal.id}"} %>
        <%= link_to "Delete", '#', {class: 'deletes btn btn-mini btn-danger', id: "#{goal.id}"} %>
      </div>
    <% end %>
    <hr>
  <% end %>
</div>