<div id="goals">
  <%= div_for goal do %>
    <h3><%= goal.description %></h3>
    <p>
      <%= goal.motivation %>
    </p>
    <% if make_edits  %>
      <div class="pull-right">
        <%= link_to "Edit", '#', class: 'btn' %>
        <%= link_to "Delete", '#', class: 'btn' %>
      </div>
    <% end %>
    <hr>
  <% end %>
</div>