<%= div_for goal do %>
  <h3><%= goal.description %></h3>
  <p>
    <%= goal.motivation %>
  </p>

  <%= render partial: 'hours/totals', locals: {goal: goal}  %>

  <% if make_edits  %>
    <div class="pull-right">
     <%= link_to "Edit", edit_user_goal_path(@user, goal), remote: true, class: 'btn btn-mini' %>
    <%= link_to "Delete", [@user, goal], method: :delete, data: { confirm: "Are you sure you want to remove this goal?" }, remote: true, class: "btn btn-mini btn-danger" %>
    </div>
  <% else %>
    <%= render partial: 'hours/history', locals: {goal: goal}  %>
  <% end %>
  <hr>
<% end %>

