<!DOCTYPE html>
<html>
<head>
  <title>AITY | <%= yield(:title) %></title>
  <%= render 'layouts/header/resources' %>
</head>
<body>
  <%= render 'layouts/header/header' %>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <% if signed_in? %>
          <%= render 'layouts/aside/sidebar' %>
        <% end %>
      </div>

      <div class="span10">
        <%= render 'shared/flash_messages', flash: flash %>
        <%= yield %>
      </div>
    </div>
  </div>

  <div class="container">
    <%= render 'layouts/footer/footer' %>
  </div>

  <%= render 'layouts/footer/debug_params' %>
</body>
</html>
