<!DOCTYPE html>
<html>
<head>
  <title>AITY | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= auto_discovery_link_tag(:atom, posts_path(:atom)) %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>

  <div class="container">
    <%= render 'shared/flash_messages', flash: flash %>
    <%= yield %>
    <%= render 'layouts/shim' %>
    <%= render 'layouts/footer' %>
  </div>

  <%= render 'layouts/debug_params' %>
</body>
</html>
