<!DOCTYPE html>
<html>
<head>
  <title>AITY | <%= yield(:title) %></title>
  <%= render 'layouts/resources' %>
</head>
<body>
  <%= render 'layouts/header' %>

  <div class="container">
    <%= render 'shared/flash_messages', flash: flash %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>

  <%= render 'layouts/debug_params' %>
</body>
</html>
